// prettier-ignore
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
	font-weight: 900;
	line-height: 1.25;
}

// prettier-ignore
h1, .h1 {
	font-size: 24px;
}

// prettier-ignore
h2, .h2 {
	font-size: 22px;
}

// prettier-ignore
h3, .h3 {
	font-size: 20px;
}

.copy {
	// prettier-ignore
	h1, .h1,
	h2, .h2,
	h3, .h3,
	h4, .h4,
	h5, .h5,
	h6, .h6,
	p,
	ul,
	ol {
		&:not(:last-child) {
			margin-bottom: 20px;
		}
	}
}
