h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 900;
	line-height: 1.25;
}

h1 {
	font-size: 24px;
}

.copy {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	p,
	ul,
	ol {
		&:not(:last-child) {
			margin-bottom: 20px;
		}
	}
}
